---
---
@import "minimal-mistakes";

.layout--splash .page__content {
  padding-top: 3rem !important;
}

.layout--splash .page__content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem !important;
}